.same_row{
    display: flex;
    

}

.row_size{
    width: 50%;
}
span{
    color: orange;
}

.recipe{
    text-align: center;
    margin: 2%;
}


.setup{
    margin-top: 90px;
    margin-left: 60px;

}
h1{
  font-size: 70px;
}
a{
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 35px;
    display: inline-block;
    margin-top: 60px;
}
#about{
 margin-top: 100px;
 margin-bottom: 30px;
}
#background{
    background-image: url(images/back2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.box{
    width: 24%;
    margin-left: 5%;
    margin-right: 2%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;    
}
.pic{
    border-radius: 10px;
}

.footer{
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 2px;
}
#space{
    padding-top: 8px;
}